DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=vkweb
DB_USER=vkweb
DB_PASSWORD=vkweb
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_BROKER_DB=2
REDIS_BEAT_DB=3

# Email (MailDev)
EMAIL_HOST=maildev
EMAIL_PORT=1025
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@eduweb.com

# Centrifugo
CENTRIFUGO_URL=http://centrifugo:8000
CENTRIFUGO_API_KEY=my_api_key
CENTRIFUGO_SECRET=my_secret_key