.nums {
    display: flex;
}

.nums a {
    margin-left: 3px;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #52C7AD;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(61, 105, 16, 0.5);
}