{% load static %}
<div class="question" data-question-id="{{ question.id }}">
  <div class="left-bar">
    {% if question.author.profile.avatar %}
      <img src="{{ question.author.profile.avatar.url }}" alt="avatar">
    {% else %}
      <img src="{% static 'img/breakdance.gif' %}" alt="avatar">
    {% endif %}

    <div class="votes" data-question-id="{{ question.id }}">
  <h4 class="base-text js-rating">{{ question.rating }}</h4>
  <div class="Up-Down">
    <button
      class="upvote js-question-vote"
      type="button"
      data-question-id="{{ question.id }}"
      data-vote-type="like"
      {% if not user.is_authenticated or question.user_vote == 1 %}disabled{% endif %}
    >∧</button>

    <button
      class="downvote js-question-vote"
      type="button"
      data-question-id="{{ question.id }}"
      data-vote-type="dislike"
      {% if not user.is_authenticated or question.user_vote == -1 %}disabled{% endif %}
    >∨</button>
  </div>
</div>
  </div>

  <div class="right-bar">
    <div class="upper-bar">
      <a href="{% url 'question' question.id %}" class="Headline">{{ question.title }}</a>
      <h4 class="base-text">{{ question.text|truncatechars:200 }}</h4>
    </div>

    <div class="down-bar">
      <div class="tegs">
        <h4 class="base-text">Tags:</h4>
        {% for tag in question.tags.all %}
          <a href="{% url 'tag' tag.slug %}">#{{ tag.name }}</a>
        {% empty %}
          <span class="base-text-hints">Без тегов</span>
        {% endfor %}
      </div>

      <div class="answers">
        <span class="base-text">Ответов: {{ question.answers_count }}</span>
      </div>
    </div>
  </div>
</div>