<aside class="r-sidebar d-none d-md-block">
  <div id="r-sidebar">
    <div class="section">
      <h3 class="block-heading">Популярные теги</h3>
      <div class="links-row">
        <a href="{% url 'tag' 'python' %}">#python</a>
        <a href="{% url 'tag' 'web' %}">#web</a>
        <a href="{% url 'tag' 'css' %}">#css</a>
        <a href="{% url 'tag' 'javascript' %}">#javascript</a>
      </div>
    </div>

    <div class="section">
      <h3 class="block-heading">Лучшие пользователи</h3>
      <div class="links-column">
        <a href="#">user1</a>
        <a href="#">user2</a>
        <a href="#">user3</a>
      </div>
    </div>
  </div>
</aside>